# {{ ansible_managed }}

# this section can show up in all your rsyslog config files, so just leave it here
$ModLoad imfile # Load the imfile input module
$ModLoad imklog # for reading kernel log messages
$ModLoad imuxsock # for reading local syslog messages


{% for service in rsyslog_sender_services[item] %}
# Watch {{ service.file }}
$InputFileName {{ service.file }} #can NOT use wildcards
$InputFileTag {{ service.tag }}: #Logstash “Program”
$InputFileStateFile state-{{ service.tag }}-{{ loop.index0 }} #can be anything; unique id used by rsyslog
$InputRunFileMonitor

{% endfor %}
